.app{
    margin: 0 auto;
    background-color: rgb(212, 218, 220);
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  h1{
    text-align: center;
    margin: 20px;
    /* background-color: yellow; */
  }
  body{
    background-color: bisque;
  }
  span{
    color: red;
  }

label{
    margin-right: 20px;
}

#btn{
    margin-top: 20px;
    padding: 7px;
    border-radius: 10px;
    font-weight: 700;
}

#btn:hover{
    background-color: chartreuse;
}